<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JDsore </a>
    </div>
    <!-- Collect the nav links, forms, and other content fot toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><% link_to("登入", '#')%></li>
      </ul>
    </div>
      <!-- /.nabar-collapes -->
  </div>
    <!-- /.container-fluid -->
</nav>
